/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding-bottom: 8px;
}

/* Home section */
#home{
    height: 310px;
    padding: 3px 28px;
}
#home::before{
    height: 420px;
}
#home p{
    font-size: 13px;
}

#home h1{
    padding: 15px 5px;
    margin-top: 5x;
}

/* Services section */
#services{
    flex-direction: column;

}

/* Client section */
#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#clients img{
    width: 50px;
    padding:  4px;
    height: auto;
    margin: 54px -25px;
}

/* Contact Us section */
#contact-box form{
    width: 70%;
}

/* footer */

/* Utility classes */

.h-primary{
    font-size: 30px;
}
.btn{
    padding: 4px 8px;
    font-size: 13px;
}